{% extends 'twitter/layout.html' %}

{% block content %}

<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <img src="https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-jumbo-v4.jpg?quality=90&auto=webp"
                alt="twitter logo">
            <h1>Inicia Sesión</h1>
        </header>

        <form method="post" name="valForm">
            {% csrf_token %}
            <div class="input-wrapper">
                <label for="user-name-id">Apodo</label>
                {{ form.username }}
            </div>

            <div class="input-wrapper">
                <label for="password-id">Contraseña</label>
                {{ form.password }}
            </div>
            {% if form.errors %}
            <p>Username or password not correct.</p>
            {% endif %}

            <button class="twitter-btn">Log in</button>
        </form>

        <div class="footer">
            <a href="#">Olvide la contraeña</a> .
            <a href={% url 'register' %}>Metete en El Chisme</a>
        </div>

    </div>
    {% endblock content %}